.table-container {
    margin: 10px;
    overflow-x: auto;
  }
  
.table-container input{
  padding: 0.5rem;
    border: 0.5px solid #3e4720;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 50%;

}
  .employee-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
  }
  
  .employee-table th,
  .employee-table td {
    padding: 6px 8px; 
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.8rem;
  }
  
  .employee-table th {
    background-color: #637615;
    color: white;
    font-weight: bold;
  }
  
  .employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .employee-table tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }

  
@media screen and (min-width: 768px) {
  .employee-table th,
  .employee-table td {
      padding: 12px 15px;
      font-size: 0.9rem;  
  }

  .employee-table {
      font-size: 0.9rem; 
  }
}

