.side-menu {
  width: 100px;
    height: 100vh;
    background-color: #f5f9ce;
    color: #232C07;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
  }
  .menu-text {
    display: none; 
  }

  .menu-list {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  .menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #232C07;
    width: 100%;
  }
  
  .menu-icon {
    font-size: 20px;
  }
  

  .menu-item:hover {
    background-color: #98ac3b;
    border-radius: 10px;
    color: #f5f9ce;
  }

  .menu-item.active {
    background-color: #98ac3b;
    color: #f5f9ce;
  }

@media screen and (min-width: 768px) {
 

  .side-menu {
    width: 250px;
  }

  .menu-icon {
    margin-right: 10PX;
  }
}

@media (min-width: 769px) {
  .menu-text {
    display: inline; 
  }
}
  
